.socialize-container {
    position: relative;
    display: flex;
    justify-content: center;
    height: 630px;

            &::before {
                content: '';
                position: absolute;
                top: -35px;
                width: 100%;
                height: calc(100% + 40px);
                background: 
                linear-gradient(to left, #02002425 1%, #ffffff00 15%),
                linear-gradient(to right, #02002425 1%, #ffffff00 15%),
                url(./../../../assets//images/cloud_background.png);
                clip-path: polygon(0% 7%, 100% 0%, 100% 100%, 0% 100%);
    }

}
.socialize-wrapper {
    display: flex;
    padding-top: 90px;
}
.socialize-left-column{
    padding-right: 90px;
    

}
.socialize-icons {
    display: flex;
    margin-left: 61px;
        img{
            margin-right: 40px;
            margin-bottom: 10px;
            -webkit-filter: drop-shadow(6px 8px 1px #16071050);
            filter:         drop-shadow(6px 8px 1px #16071050);
            
            
        }
}
.socialize-card {
    display: flex;
    text-align: left;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    

    
        img{
            flex: 0 0 0;
            width: auto;
            -webkit-filter: drop-shadow(10px 13px 1px #16071050);
            filter:         drop-shadow(10px 13px 1px #16071050);

        }

        h1{
            margin-top: 15px;
            position: absolute;
            padding-left: 10px;
            font-size: 36px;
            font-family:'ViceCitySans' ;
            color: #7b2644;
    
        }
        .socialize-text-body{
            flex-direction: column;
            margin-top: 75px;
            position: absolute;
            padding-left: 30px;
        p{
            font-family: 'ViceCitySans';
            color: #7b2644;
            font-size: 18px;
            font-size: 18px;
            width: 440px;
            
    }
}


}
.socialize-content{
    display: block;
    justify-content: center;
    position: relative;
    -webkit-filter: drop-shadow(6px 8px 1px #16071050);
    filter:         drop-shadow(6px 8px 1px #16071050);
    
        img{
            flex: 0 0 0;
            
        }
    }
