.preview-container{
    height: 1000px;
    background-image: url(./../../../assets/images/grass_background.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.preview-wrapper{
    display: flex;
    flex-wrap: column;
    height: 80%;

}
.preview-hero{
    height: 80vh;
}