.container-home-page{
    overflow: auto;
    height: 100%;
    display: block;
    aspect-ratio: 16/9;
}


video{
    height: 80%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    z-index: -1;
    border-bottom: 10px #2f3739;
    border-style: none none solid none;

}

.container-hero {
    height: 81vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        color: #dda132;
        font-size: 10rem;
        margin-top: 100px;
    }
        p{
            color: #dda132;
            font-size: 5rem;
            margin-top: -50px;
            text-align: center;

        }
}
.content-container {
    background: 
    linear-gradient(to left,#ffffff00, #02002425 ),
    linear-gradient(to right, #ffffff00 , #02002425 );
    
    z-index: 3;
}
