.footer-container {
    display: flex;
    height: 120px;
    width: 100%;
    background-color: #27282d;
    position: relative;
    align-items: center;
    justify-content: space-between;

        .footer-rating{
            margin-left: 15px;
            
            
        }
        .footer-lightwing{
            margin-top: 20px;
            align-self:center;
        }
        .footer-copyright{
            margin-right: 60px;
        }

        
    }


